@model CustomInvoice.WebApp.ViewModels.Stats;
@{ ViewData["Title"] = "Domača stran"; }

@*<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" rel="stylesheet" />*@


<div class="row">

    <!-- 1. stolpec-->
    <div class="col-lg-6 col-xxl-4">
        <!-- start: Najbolj prodajani izdelki in storitve -->
        <div class="card card-custom card-stretch gutter-b">
            <div class="card-header border-0 pt-6 mb-2" style="background-color: #1e1e2d">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bold font-size-h4 text-white mb-3">Najbolj prodajani izdelki in storitve</span>
                    <span class="text-muted font-weight-bold font-size-sm">V bazi je @Model.TotalProducts izdelkov in @Model.TotalServices storitev</span>
                </h3>
            </div>
            <div class="card-body pt-2">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            @foreach (Article article in Model.BestSellingArticles)
                            {
                                <!-- start: izdelek -->
                                <tr>
                                    <td class="align-middle pb-6" style="padding-left:0px; padding-right: 0px;">
                                        <div class="font-size-lg font-weight-bolder text-dark-75 mb-1" style="max-width: 250px">@article.Product.Name</div>
                                        @if (article.Product.Type == "Artikel")
                                        {
                                            <span class="label font-weight-bold label-lg label-light-primary label-inline">Artikel</span> }
                                        else
                                        {
                                            <span class="label font-weight-bold label-lg label-light-info label-inline">Storitev</span>}
                                    </td>
                                    <td class="font-weight-bold text-muted align-middle text-right pb-6">
                                        <i class="ki ki-bold-close icon-sm" style="vertical-align:middle;"></i>
                                        <span class="text-success font-size-h4 font-weight-bolder ml-1" style="vertical-align:middle;">@article.Quantity</span>
                                    </td>
                                </tr>
                                <!-- end: izdelek-->}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- end: Najbolj prodajani izdelki in storitve -->
    </div>

    <!-- 2. stolpec -->
    <div class="col-lg-6 col-xxl-4">
        <!-- start: Tipi strank -->
        <div class="card card-custom gutter-b">
            <div class="card-header border-0 pt-6 mb-2" style="background-color: #1e1e2d">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bold font-size-h4 text-white mb-3">Tipi strank po dokumentih</span>
                    <span class="text-muted font-weight-bold font-size-sm">V bazi je @Model.NumberOfDocuments dokumentov</span>
                </h3>
            </div>
            <div class="card-body" style="padding:2px;">
                <div id="piechart" style="height: 220px"></div>
            </div>
        </div>
        <!-- end: Tipi strank -->
        <!-- start: Tipi strank -->
        <div class="card card-custom gutter-b">
            <div class="card-header border-0 pt-6 mb-2" style="background-color: #1e1e2d">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bold font-size-h4 text-white mb-3">Tipi strank v bazi</span>
                    <span class="text-muted font-weight-bold font-size-sm">V bazi je @Model.NumberOfClients strank</span>
                </h3>
            </div>
            <div class="card-body" style="padding:2px;">
                <div id="piechart2" style="height:220px"></div>
            </div>
        </div>
        <!-- end: Tipi strank -->
    </div>

    <!-- 3. stolpec -->
    <div class="col-lg-6 col-xxl-4">
        <!-- vreme -->
        <div class="card card-custom card-stretch card-stretch-half gutter-b" style="height: 210px; max-height: 210px;min-height: 210px;">
            <a class="weatherwidget-io" href="https://forecast7.com/en/46d0614d51/ljubljana/" data-label_1="LJUBLJANA" data-days="5" data-theme="weather_one" style="border-radius: calc(0.42rem - 1px)">LJUBLJANA</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>
        </div>

        <!-- novice -->
        <div class="card card-custom card-stretch card-stretch-half gutter-b">
            <!-- start feedwind code -->
            <script type="text/javascript" src="https://feed.mikle.com/js/fw-loader.js" preloader-text="Loading..." data-fw-param="140826/"></script> <!-- end feedwind code -->
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawChart2);

        function drawChart() {
            var array = [];
            array.push(['Type', 'Number of clients']);

            @{
                foreach(var element in Model.ClientTypeCount)
                {
                    @:array.push(['@element.Name.', @element.Count]);
                }
            }

            var data = google.visualization.arrayToDataTable(array);

            var options = {
                title: '',
                legend: 'bottom',
                width: 350
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

            chart.draw(data, options);
        }

        function drawChart2() {
            var array = [];
            array.push(['Type', 'Number of clients']);

            @{
                foreach(var element in Model.ClientTypeCountByDocument)
                {
                    @:array.push(['@element.Name.', @element.Count]);
                }
            }


            var data = google.visualization.arrayToDataTable(array);

            var options = {
                title: '',
                legend: 'bottom',
                width: 350
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>

}