@model CustomInvoice.WebApp.Models.Partner

@{
    ViewData["Title"] = "O partnerju";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">
                    O partnerju - @Model.Name
                </h3>
            </div>
            <div class="card-body">
                <div>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StreetName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StreetName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.StreetNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StreetNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PostNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PostNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.City)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.City)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Country)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Country)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="Index">Nazaj</a>
                <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Uredi</a>
            </div>
        </div>
    </div>
</div>
