@model IEnumerable<CustomInvoice.WebApp.Models.Partner>

@{
    ViewData["Title"] = "Partners";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Partnerji
            </h3>
            <div style="display: grid; align-items: center;">
                <a asp-action="New" class="btn btn-primary">Dodaj partnerja</a>
            </div>
            @*<p>
                <a asp-action="New">Dodaj</a>
            </p>*@
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th scope="col">
                            Naslov
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th scope="col">
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StreetName) @Html.DisplayFor(modelItem => item.StreetNumber), @Html.DisplayFor(modelItem => item.PostNumber) @Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.Country)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Urejanje</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Več</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Izbriši</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>